/*cabeçalho*/


/*Conteudo principal*/


/*banner*/
#section-banners img {
    height: 500px;
}

/*Produtos vendidos*/

#section-vendidos  {
    text-align: center;
}

#section-vendidos h2 {
    font-weight: bold;
    padding: 20px;
}

#section-vendidos img {
    height: 300px;
    border-radius: 10px;
}

#section-vendidos .card {
    margin: 5px;
    border: 1px; color: gray;
    border-radius: 10px;

}

#section-vendidos .preco {
    color: red;
    font-size: 10px;
    font-weight: bold;
}



/*Rodapé*/

footer{ 
        text-align: center;
}
footer p {
    font-weight: bold;
    padding: 10px;
}

/*Botão Voltar topo*/

#voltar-topo {
position: fixed;
bottom: 5px;
right: 50px;
}

/* página de login  */


/* Formulário de cadastro*/

